// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.link{
	display: block;
}

.red{
	color: #B82569;
}

.pdd{
	margin-bottom: 10px;
}